.css-ujtxvs {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 75px;
    padding-bottom: 24px;
    padding-top: 0;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}